# The usual directories.
build/
build-extra/
.vscode/
.cache/

# The directory where some features are being tested,
# not uploaded because there's a mess inside it.
testing/

# The documentation will be uploaded on the website anyways,
# so no point on storing it here.
docs/

# Makefile output, no need to include it.
./libnvdialog.so

# Examples, we should not upload the binaries.
examples/file-dialog/file_dialog_example
examples/hello-world/hello-world
examples/question-dialog/question-example
examples/about-dialog/about-dialog-example

# This is where prebuilt library copies are
# created and distributed, so we don't want to
# push this into the main repository.
prebuilt/

# IDE Stuff. We can ignore this too.
cmake-build-*/
.idea/
