pkgbase = libnvdialog-git
	pkgdesc = A cross-platform library to show dialog boxes, written in C. (Git Version)
	pkgver = 4.9.r263.6bdb7c4
	pkgrel = 1
	url = https://androgr.github.io/libnvdialog/
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = make
	depends = gtk3
	depends = glibc
	depends = gcc
	optdepends = gtk4: To use the Gtk4 backend.
	optdepends = libadwaita: Required by the Gtk4 backend to work.
	optdepends = clang: Alternative compiler to GCC, if you wish to use it.
	provides = libnvdialog
	conflicts = libnvdialog
	replaces = libnvdialog
	source = git+https://github.com/AndroGR/nvdialog.git
	md5sums = SKIP

pkgname = libnvdialog-git
